<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/routes.xsd">
    <router id="standard">
        <route id="amasty_username" frontName="amasty_username">
            <module name="Amasty_UserName" />
        </route>
    </router>
</config>
