<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Amasty_SecondUsername_Module" translate="label" sortOrder="9">
            <label>Amasty SecondUsername Module</label>
        </tab>

        <section id="second_username_config" translate="label" sortOrder="2"  showInDefault="1" showInWebsite="1" showInStore="1">
            <label>SecondUsername Module Config</label>
            <tab>Amasty_SecondUsername_Module</tab>
            <resource>Amasty_SecondUsername::config</resource>
            <group id="general"  translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="promo_sku" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Promo SKU</label>
                </field>
                <field id="for_sku" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SKU участвующие в Promo</label>
                </field>
           </group>
        </section>
    </system>
</config>
